<tr>
  <td class="center-cell"><%= inventory.sku %></td>
  <td class="center-cell"><%= inventory.name %></td>
  <td class="center-cell"><%= rand(10) %></td>
  <td class="center-cell"><%= inventory.unit %></td>
  <td class="center-cell">September 12, 2017 6:40 am</td>
  <p class = "btn btn-success pull-right"><%= "Delete" %></p>
</tr>
